.query-limit {
  display: inline-block;
  width: 60px;
  margin: 0 0 0 10px;

  &--3d {
    width: 68px;
  }

  .bp3-button {
    min-width: 60px;
  }

  .bp3-menu {
    min-width: 60px;
    z-index: 5;
  }
}
