.wizard-content {
  padding: 32px 60px 54px 60px;
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  flex-grow: 1;
  flex-shrink: 1;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 599px) {
  .wizard-content {
    padding: 16px 20px 16px 20px;
    height: auto;
    overflow: auto;
  }
}
